body {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #3c8dbc;
}

.error {
  color: red;
}

.login-container {
  width: 300px;
  padding: 16px;
  margin: auto;
  margin-top: 5%;
}

.no-display {
  display: none;
}
